{% extends 'Empleados/base.html' %} {% block content %}

<h2>¿Está seguro de querer eliminar a este empleado?</h2>
<div>
    <form action="{% url 'post_list_Empleados'%}" method="POST" class="post-form">{% csrf_token %}
        <button type="submit" class="btn btn-info">Cancelar</button>
    </form>
    <form action="{% url 'post_delete_Empleados' pk=empleados.pk %}" method="POST" class="post-form">{% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar empleado</button>
    </form>
</div>
{% endblock %}