{% extends 'Socios/base.html' %} {% block content %} {% for socios in socios %}
<div class="card" style="width: auto; margin: auto auto;">
    <div class="card-body">
        <h5 class="card-title"><a href=" {% url 'post_detail_socios' pk=socios.pk %} " style="color: #3a3a3a">Nombre: {{ socios.Nombres }} {{ socios.Apellidos }}</a></h2>
            <p class="card-text ">Codigo: {{socios.Codigo_Socio}}</p>
            <p class="card-text ">Genero: {{socios.Genre}}</p>
            <p class="card-text ">Fecha inscripcion: {{socios.Afiliacion_date}}</p>
            <p class="card-text ">Propiedades: {{socios.Cantidad_propiedad}}</p>
    </div>
</div>
<br> {% endfor %} {% endblock %}